<!DOCTYPE html>
<html>

<head>
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link rel="stylesheet" href="/styles.css" />
  <title>Trollbook</title>
</head>

<body>
  <div class="header">
    <div class="title">
      <h1>Welcome to Trollbook!</h1>
      <div class="buttonset">
        <a href="/login.html">Login</a>
        <a href="/login.html">Login as somebody else</a>
      </div>
    </div>
  </div>

  <div id="app" class="content">
    <form @submit.prevent="submit">
      <label>Username</label>
      <br>
      <input v-model="username">
      <br>
      <label>First name</label>
      <br>
      <input v-model="firstName">
      <br>
      <label>Last name</label>
      <br>
      <input v-model="lastName">
      <br>
      <label>Gender</label>
      <br>
      <input v-model="gender">
      <br>
      <label>About me</label>
      <br>
      <input v-model="aboutMe">
      <br>
      <button type="submit" class="submit"> Submit
      </button>
    </form>
  </div>

  <div class="footer">
    <a href="https://github.com/BYU-CS-260-Winter-2019/lab-4-theseal53">Github</a>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js" integrity="sha256-mpnrJ5DpEZZkwkE1ZgkEQQJW/46CSEh/STrZKOB/qoM=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.7/vue.js" integrity="sha256-g+Q8DFAmG5+eyRPSydX0LY4TfjsL11XSDrIGerbbEdA=" crossorigin="anonymous"></script>
  <script src="/script.js"></script>
</body>

</html>
